
@{
    ViewBag.Title = "UserInfor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                
                <li class="breadcrumb-item active" aria-current="page">Thông tin tài khoản</li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        
    </div>
</main>

